<div class="container-fluid main-container">
    <div class="row main-row">
      <div class="col-md-10">
        <div class="box box-primary" *ngIf="!pageLoading">
          <div class="box-header with-border">
            <h3 class="box-title">Incident <a href="{{'https://portal.microsofticm.com/imp/v3/incidents/details/' + incidentInfo.incidentId + '/home'}}" target="_blank">{{incidentInfo.incidentId}}</a> &nbsp; {{incidentInfo.title}}</h3>
          </div>
  
          <div>
            <div class="form-group" *ngFor="let field of incidentInfo.validationResults;">
              <div class="form-row">
                <div>
                  <div class="col-md-12">
                      <label>{{field.name}}</label>
                      <div style="display:block;">
                        <input class="form-control input-box" [(ngModel)]="field.value" (ngModelChange)="refreshButtonStatus()" name="fieldValue" type="text" placeholder="">
                        <i class="fa fa-check-circle pass-icon" *ngIf="field.validationStatus"></i>
                      </div>
                  </div>
                  <div *ngIf = "(!field.validationStatus)&&(field.value==field.oldValue)" class="error-message col-md-12">
                      {{field.validationMessage}}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group go-form">
              <fab-primary-button contentStyle="margin-top: 20px;"
                  type="Submit" text='Check Validation' (click)="onSubmit()" [disabled]="buttonDisabled">
              </fab-primary-button>
            </div>
          </div>
          <div *ngIf="validationUpdateResponse&&validationUpdateResponse.validationStatus" class="success-message">
              All validations have passed and the incident has been updated.
          </div>
          <div *ngIf="validationUpdateResponse&&!validationUpdateResponse.validationStatus" class="failed-message">
              Some validations have failed, please try again.
          </div>
        </div>
      </div>
    </div>
</div>